*{
    margin: 0;
    padding: 0;
}
header{
    height: 75px;
   background-color: #e2753ef7;
    color: #111;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.logo {
    flex: 1;
    width: 50px;
    height: 50px;
    max-width: 4%;
   
}

header ul{
    flex: 2;
    display: flex;
   justify-content: center;
   align-items: center;
    list-style: none; 
    gap: 30px;
    margin: 0;
    padding: 0;
}

   
    
    
header ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}
/* Style pour le menu déroulant */
.dropdown-menu {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f67e0f;

    padding: 0;
    z-index: 100;
}

.dropdown-menu li {
    width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #e4be9a;
}

/* Afficher le menu déroulant au survol */
.dropdown:hover .dropdown-menu {
    display: block;
}

.img1 {
    width: 100%; 
    height: 400px;
    background-image: url("image/img.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-self:center;
    justify-content: center; 
}



.d-flex {
    display: flex; 
    gap: 10px; 
    width: 50%; 
    max-width: 600px;
}

.form-control {
    width: 70%; 
    padding: 8px; 
    font-size: 0.9em; 
}

.btn {
    padding: 8px 12px; 
    font-size: 0.9em;
   
}
section{
    text-align: center;
}
footer {
    background-color: #e2753ef7; 
    color: white; 
    text-align: center;
    padding: 20px; 
    font-family: Arial, sans-serif; 
    position: relative; 
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0; 
}

footer a {
    color: #E74C3C; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}